@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-color: #1a191f;
    color: white;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    background-color: #141116;
}

header::after {
    content: '';
    position: absolute;
    border-top: 1px solid #3c3c3c;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
    display: inline-block;
    height: 25%;
}

.banner {
    width: 100%;
}

.banner-wrapper {
    height: 40vh;
    width: 100%;
    overflow: hidden;
}

.wrapper {
    padding: 1.5em;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav h1 {
    font-weight: bold;
}

nav ul {
    display: flex;
}

ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}

.items {
    padding: 0.3em 0.8em;
}

h1 {
    margin: 0;
}

.bg {
    background-color: #141116;
}

.movies-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.btn-primary {
    background-color: #e50914;
    color: #fff;
    outline: none;
    border: none;
    padding: 7px 17px;
    border-radius: 5px;
}

.btn-item {
    padding: .2em 0.8em;
}

@media (max-width: 600px) {
    .logo {
        height: 65%;
        width: 65%;
    }

    .items {
        display: none;
    }

    a {
        width: 65%;
    }
}

@media (max-width: 650px) {

    a {
        width: 50%;
    }

    .items {
        white-space:nowrap;
    }
}

video {
    border: none;
    outline: none;
}